* {
    margin: 0%;
    padding: 0%;
}

body {
    background: rgb(46, 122, 87);
}
.contenido {
    display: flex; 
    justify-content: center;
    align-items:center;
    margin-top:200px;
}

.numero1, .numero2, .boton {
    height: 50px;;
}